In [1]:
import pandas as pd
import numpy as np
from IPython.display import display

In [2]:
gfd1 = pd.read_csv("...\\GFD-1\\AssetTechAnalysis.txt", sep="\t", encoding='cp1252')
gfd1.head()

   LipperID     EndDate StatCode   ValueLC  BenchmarkValueLC
0  65006437  2017-07-31    MAX3Y -39.85887               NaN
1  65006437  2017-07-31    MAX5Y -41.20299               NaN
2  65006437  2017-07-31   MAXP3Y  22.00000               NaN
3  65006437  2017-07-31   MAXP5Y  43.00000               NaN
4  65006437  2017-07-31    STD3Y  22.22872               NaN

In [3]:
cfg = pd.read_csv("...\\CFG\\AssetTechAnalysis.txt", sep="\t")
cfg_cols = cfg.columns
cfg.head()

   LipperID     EndDate StatCode   ValueLC  BenchmarkValueLC
0  40000041  2017-07-31    SHP3Y  0.894593               NaN
1  40000041  2017-07-31    SHP5Y  0.633496               NaN
2  40000041  2017-07-31    MAX5Y -8.514558               NaN
3  40000041  2017-07-31   MAXP5Y  9.000000               NaN
4  40000041  2017-07-31    MAX3Y -5.184398               NaN

In [4]:
cfg.equals(gfd1)

False

In [5]:
print("Missing in GFD-1: " + str(len(cfg[~cfg["LipperID"].isin(gfd1["LipperID"])]["LipperID"])))
missing_in_gfd1_df = cfg[~cfg["LipperID"].isin(gfd1["LipperID"])]
missing_in_gfd1 = cfg[~cfg["LipperID"].isin(gfd1["LipperID"])]["LipperID"]


print("Missing in CFG: " + str(len(gfd1[~gfd1["LipperID"].isin(cfg["LipperID"])]["LipperID"])))
missing_in_cfg_df = gfd1[~gfd1["LipperID"].isin(cfg["LipperID"])]
missing_in_cfg = gfd1[~gfd1["LipperID"].isin(cfg["LipperID"])]["LipperID"]

universe_diffs = pd.concat([missing_in_cfg, missing_in_gfd1])

Missing in GFD-1: 8932
Missing in CFG: 0

In [6]:
on=["LipperID", "EndDate", "StatCode"]
df = cfg.merge(gfd1, how='outer', on=on, suffixes=("_CFG", "_GFD-1"))
df = df[~df["LipperID"].isin(universe_diffs)]
df = df.fillna("-")
del cfg
del gfd1
df.sample(n=5)

,LipperID,EndDate,StatCode,ValueLC_CFG,BenchmarkValueLC_CFG,ValueLC_GFD-1,BenchmarkValueLC_GFD-1
92841,60099493,2017-07-31,RSQ5Y,0.971705,-,0.971705,-
275831,68150113,2017-07-31,TRK5Y,1.06505,-,3.68944,-
264843,68136639,2017-07-31,RSQ3Y,0.679908,-,0.679908,-
85596,60093418,2017-07-31,INF3Y,-0.402529,-,-1.3944,-
381075,68130461,2017-07-31,STD3Y,-,-,11.6235,11.531

In [7]:
writer = pd.ExcelWriter("Asset Tech Analysis Checks.xlsx", engine='xlsxwriter')
df_dict = {}
missing_in_gfd1_df.to_excel(writer,"Additional in new feed", index=False)
missing_in_cfg_df.to_excel(writer,"Missing in new feed", index=False)
for col in cfg_cols[len(on):]:
    print(col+"\n")
    check=[]
    columns = []
    columns = on + [col+"_CFG", col+"_GFD-1"]
    #print(columns)
    check_df = df.loc[:, columns]
    for n in range(df.shape[0]):
        if str(check_df.iloc[n, -2]) == str(check_df.iloc[n, -1]):
            check.append("Match")
        elif str(check_df.iloc[n, -2]) == "-":
            check.append("Not in CFG")
        elif str(check_df.iloc[n, -1]) == "-":
            check.append("Not in GFD-1")
        else:
            check.append("Difference")
    check_df["Check"] = np.array(check)
    check_df.to_excel(writer,'%s' % col, index=False)
    display(check_df.sample(n=5))
writer.save()

ValueLC

        LipperID     EndDate StatCode ValueLC_CFG ValueLC_GFD-1       Check
95498   61500870  2017-07-31   MAXP5Y          12            12       Match
168801  65132617  2017-07-31    MAX5Y    -8.39147      -8.39147  Difference
156953  65107534  2017-07-31    BET5Y    0.950519      0.950657  Difference
332148  68235997  2017-07-31    BET5Y     1.10246       1.10218  Difference
203912  68044602  2017-07-31    RSQ5Y    0.964985      0.964985       Match

BenchmarkValueLC

,LipperID,EndDate,StatCode,BenchmarkValueLC_CFG,BenchmarkValueLC_GFD-1,Check
274044,68148496,2017-07-31,SHP5Y,-,-,Match
385847,65111106,2017-07-31,STD5Y,-,11.2564,Not in CFG
208718,68050189,2017-07-31,SHP3Y,-,-0.768682,Not in CFG
109,40000177,2017-07-31,RSQ3Y,-,-,Match
420008,68168061,2017-07-31,ALP5Y,-,-,Match