In [1]:
import pandas as pd
import numpy as np
from IPython.display import display

In [2]:
gfd1 = pd.read_csv("...\\GFD-1\\FundRFS.txt", sep="\t", encoding='cp1252', dtype=str)
gfd1["GFD-1"] = "Yes"
gfd1.head()

   LipperID RFS_Country GFD-1
0  65006437         AUT   Yes
1  65006437         CZE   Yes
2  65006437         DEU   Yes
3  65006438         AUT   Yes
4  65006438         CZE   Yes

In [3]:
cfg = pd.read_csv("...\\CFG\\FundRFS.txt", sep="\t", dtype=str)
cfg["CFG"] = "Yes"
cfg_cols = cfg.columns
cfg.head()

   LipperID RFS_Country  CFG
0  65137450         NLD  Yes
1  65137453         CUW  Yes
2  65137794         LUX  Yes
3  68043752         FRA  Yes
4  68043752         GRC  Yes

In [4]:
df = cfg.merge(gfd1, how='outer', on=["LipperID", "RFS_Country"], suffixes=("_CFG", "_GFD-1"))
df["GFD-1"].fillna("No", inplace=True)
df["CFG"].fillna("No", inplace=True)

In [5]:
countries_missing_in_gfd1 = []
grfs = gfd1["RFS_Country"].unique()
crfs = cfg["RFS_Country"].unique()
for country in sorted(crfs.astype(str)):
    if country in grfs:
        #print (country + " is in both systems")
        pass
    else:
        print (country + " is missing from GFD-1")
        countries_missing_in_gfd1.append(country)

BRN is missing from GFD-1
BWA is missing from GFD-1
COL is missing from GFD-1
CUW is missing from GFD-1
DOM is missing from GFD-1
FRO is missing from GFD-1
GRL is missing from GFD-1
GUY is missing from GFD-1
PRK is missing from GFD-1
PRY is missing from GFD-1
ROU is missing from GFD-1
SMR is missing from GFD-1
SWZ is missing from GFD-1
nan is missing from GFD-1

In [ ]:
df[(df["RFS_Country"].isin(countries_missing_in_gfd1))].groupby(by="RFS_Country").count()[["CFG"]]

              CFG
RFS_Country
BRN          1018
BWA           187
COL            55
CUW          1041
DOM             2
FRO             3
GRL             8
GUY             1
PRK             5
PRY             1
ROU           395
SMR            20
SWZ             2

In [ ]:
writer = pd.ExcelWriter("Fund RFS Checks.xlsx", engine='xlsxwriter')
df.to_excel(writer,"Fund RFS", index=False)
df[(df["CFG"] == "No") | (df["GFD-1"] == "No")].to_excel(writer,"Fund RFS Diffs", index=False)
df[(df["GFD-1"] == "No")].groupby(by="RFS_Country").count()[["GFD-1"]].to_excel(writer,"Missing from GFD-1 Pivot")
df[(df["RFS_Country"].isin(countries_missing_in_gfd1))].groupby(by="RFS_Country").count()[["CFG"]].to_excel(writer,"Countries missing from GFD-1")
writer.save()