In [1]:
import pandas as pd
import numpy as np
from IPython.display import display
from fuzzywuzzy import fuzz

In [2]:
gfd1 = pd.read_csv(r"...\GFD-1\LipperLeaderUniverse.txt", sep="\t", encoding='cp1252', dtype=str)
gfd1.head()

  UniverseCode UniverseName
0          GBR           UK
1          CHE  Switzerland
2          DEU      Germany
3          FRA       France
4          ITA        Italy

In [3]:
cfg = pd.read_csv(r"...\CFG\LipperLeaderUniverse.txt", sep="\t", dtype=str)
cfg_cols = cfg.columns
cfg.head()

  UniverseCode UniverseName
0          HKG    Hong Kong
1          SGP    Singapore
2          MYS     Malaysia
3          TWN       Taiwan
4          THA     Thailand

In [4]:
cfg.equals(gfd1)

False

In [5]:
on=["UniverseCode"]
df = cfg.merge(gfd1, how='outer', on=on, suffixes=("_CFG", "_GFD-1"))
df = df.fillna("-")
del cfg
del gfd1
display(df.sample(n=5))
text_cols = []

   UniverseCode UniverseName_CFG UniverseName_GFD-1
36          ARG        Argentina          Argentina
0           HKG        Hong Kong          Hong Kong
44          TUR           Turkey             Turkey
16          DEU          Germany            Germany
45          RUS           Russia             Russia

In [6]:
writer = pd.ExcelWriter("Lipper Leader Universe Checks.xlsx", engine='xlsxwriter')
df_dict = {}
for col in cfg_cols:
    if col in on: continue
    print(col+"\n")
    check=[]
    ratio = []
    columns = []
    columns = on + [col+"_CFG", col+"_GFD-1"]
    #print(columns)
    check_df = df.loc[:, columns]
    for n in range(df.shape[0]):
        if col in text_cols:
            ratio.append(fuzz.ratio(str(check_df.iloc[n, -2]),str(check_df.iloc[n, -1])))
        if str(check_df.iloc[n, -2]) == str(check_df.iloc[n, -1]):
            check.append("Match")
        elif str(check_df.iloc[n, -2]) == "-":
            check.append("Data not in CFG")
        elif str(check_df.iloc[n, -1]) == "-":
            check.append("Data not in GFD-1")
        else:
            check.append("Difference")
    check_df["Check"] = np.array(check)
    if col in text_cols:
        check_df["Ratio"] = np.array(ratio)
    check_df.drop_duplicates(inplace=True)
    check_df.to_excel(writer,'%s' % col, index=False)
    check_df[check_df.Check != "Match"].to_excel(writer,'%s Diff' % col, index=False)
    display(check_df.sample(n=5))
writer.save()

UniverseName

   UniverseCode UniverseName_CFG UniverseName_GFD-1  Check
28          CAN           Canada             Canada  Match
26          SWE           Sweden             Sweden  Match
6           ESP            Spain              Spain  Match
36          ARG        Argentina          Argentina  Match
46          IDN        Indonesia          Indonesia  Match